<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>
<div id="logo"></div>
<div id="theme"></div>
<div id="facilities">
  <div id="buildings"></div>
  <%= label_tag (:thing, "Your label text" %>
  <div id="rooms"></div>
  <div id="available-datetime"></div>
</div>
<div id="users">
  <div id="programmes"></div>
  <div id="instruments">
    <div id=""></div>
  </div>
</div>
<div id=""></div>
<div id=""></div>
<div id=""></div>
<div id=""></div>
<div id=""></div>
